.color-1 {
    color: transparent;
    -webkit-background-clip: text;

}

.color-2 {
    background-image: linear-gradient(23deg,#2eef71,#2208b3);
    color: transparent;
    -webkit-background-clip: text;

}